body {
  padding: 0px;
  z-index: 0;
}
#text{
  padding: 30px;
}
.jumbotron {
  margin: 0px;
  padding: 10px 0px;
  background: #9575CD;
  color: floralwhite;
}
.navbar-dark {
  background-color: #512DA8;
}
.nav-item{
  padding: 0px 20px;
}
.nav-link{
  color: #ffffff;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar{
  text-align: center;
}

.carousel {
  background: #512DA8;
}
.carousel .carousel-item {
  height: 300px;
}
.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 30%;
}
.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px;
}
.footer .fa{
  color: #000000;
  padding: 20px;
}
